<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Reflector" description="Sitecore.Solution.Framework Root items" extends="Helix.Foundation">
          <predicate>
              <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/$(layer)/$(module)" />
              <include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
              <include name="Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />

              <include name="Settings.Module" database="master" path="/sitecore/system/Settings/$(layer)/$(module)" />
              
              <include name="Branches" database="master" path="/sitecore/templates/Branches/$(layer)/$(module)" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>