<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Project.Hackathon" description="Sitecore.Solution.Framework Root items" extends="Helix.Foundation">
          <predicate>
              <include name="Content" database="master" path="/sitecore/content/Hackathon" />
              
              <include name="Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />            

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>